@media (min-width: 768px) {
	.resume {
		margin: auto;
		display: grid;
		grid-template-columns: 22% 78%;
		grid-template-rows: 1.2in 1fr;
		grid-template-areas: 
			"margin summary"
			"skills details";
	}
	
	.margin {
		grid-area: margin;
	}
	
	.summary {
		grid-area: summary;
	}
	
	.details {
		grid-area: details;
	}
	
	.skills {
		grid-area: skills;
	}
	
	.summary p {
		font-size: 1.3em;
	}
	
	.contact li {
		text-indent: 10px;
	}
}

@media (min-width: 1300px) {
	.resume {
		padding: 0.3in;
	}
}


@media (max-width: 870px) {  
	h1, h2 {font-size:1.75em;} 
}

@media (min-width: 870px) { 
	h1, h2 {font-size:2em;} 
}
	

@media (min-width: 1200px) {  
	h1, h2 {font-size:2.5em;}     
}
	
@media print {
	html {
		font-size: 13.5px;
	}
	h1, h2 {
		font-size:2.5em;
	}
}
